
    <div class="wrapper">
        <div class="card1">
                <div class="card-header1">
                  {{pageTitle}}
                </div>
                <div class="card-body1">
                  <div class="inner-container">
                    <div class="center-text">
                      <img src="../assets/images/search2.png"
                           class="image-res"
                           style="max-height:300px;padding-bottom:50px" />
                    </div>
              
                    <div class="center-text">Developed by:</div>
                    <div class="center-text">
                      <h3>Ravi</h3>
                    </div>
              
                    <div class="text-center">@ravi</div>
                    <div class="text-center">
                      <a href="#sampleUrl">raviyadav856gmail.com</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>